a {
    font-size: 15px;
    margin: 10px;
}

.jumbo {
    background-image: url(https://media.istockphoto.com/id/1328368631/photo/ready-for-school-concept-background-with-books-alarm-clock-and-accessory.jpg?s=612x612&w=0&k=20&c=nQ-VH0xEZACyzAW8fKQpHPppczQ4Xe6gW2yaeXBWt5k=);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 550px;
    margin-top: 0;
}

.jumbo-inner {
    color: white;
}

ul {
    font-size: 20px;
    padding-top: 20px;
}

.courses h1 {
    color: deeppink;
}

.courses {
    padding-top: 20px;
    margin-top: 0;
}

img {
    border-radius: 50px;
}

.footer {
    background-color: orangered;
}

.footer-para {
    text-align: center;
    padding: 20px;
}